footer{
    width:100%;
    min-height:10vh;
    margin:auto;
    background: linear-gradient(to right, #9a8478, #1e130c); 
    color:white;
    @include flex(flex-start,center,row);
   

    h4{
        font-family: 'Great Vibes', cursive;
        font-size: $header1;
        cursor: pointer;
        padding:2rem 5rem;
        flex: 1 1 40rem;
    }

    ul{
        @include flex(space-around,center,row);
        flex:1 1 40rem;
        padding:2rem 5rem;
        text-decoration: none;
        list-style: none;
    }
}

footer img{
    transition: all 0.3s ease;
}

footer img:hover{
    transform: scale(1.3);
}