.main-hero{
    min-height: 80vh;
    background: url(/gallery/hero-image.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    @include flex (center, center, column);
}

.main-hero h2 {
    font-family: 'Great Vibes', cursive;
    font-size: $special;
    text-align: center;
    background-color:rgba($color: #ffffff, $alpha: 0.4);
    padding:4rem 8rem;
    border-radius: 23% 77% 27% 73% / 100% 0% 100% 0%;
    
}

